## Syntax 

Python syntax can be executed by writing directly in the Command Line:

print()
-

In [1]:
print (10)

10

In [2]:
a=34
print(a)

34

In [3]:
print(346.64778)

346.64778

In [4]:
print(4554,66474)

4554 66474

In [5]:
print(77,76451,"Rana",4546.776,"Saeed")

77 76451 Rana 4546.776 Saeed

Variable
-

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it

In [9]:
first_name="Rana"
last_name="Saeed"
print(first_name + last_name)

RanaSaeed

In [10]:
value1=100
value2=100
result=value1/value2
print(result)

1.0

In [11]:
value1=100
value2=100
result=value1//value2
print(result)

1

In [16]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [17]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [19]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

type()
-

In [6]:
a=29
type(a)

int

In [7]:
a=6577.78
type(a)

float

In [8]:
type("Rana Saeed")

str

Comments
-

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

Single Line Comment
-

In [13]:
#This is a comment

print("Hello, World!")

Hello, World!

In [14]:
#print("Hello, World!")

print("Cheers, Mate!")

Cheers, Mate!

Multiline Comments
-
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [15]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Python Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:	str
- Numeric Types:	int, float, complex
- Sequence Types:	list, tuple, range
- Mapping Type:	dict
- Set Types:	set, frozenset
- Boolean Type:	bool

Example	Data Typpe
-
- x = "Hello World"	  == str	
- x = 20	          == int	
- x = 20.5	          == float	
- x = 1j	          == complex	
- x = ["apple", "banana", "cherry"]	      == list	
- x = ("apple", "banana", "cherry")	      == tuple	
- x = range(6)	range	
- x = {"name" : "John", "age" : 36}	      == dict	
- x = {"apple", "banana", "cherry"}	=     == set	
- x = frozenset({"apple", "banana", "cherry"})	 == frozenset	
- x = True	                                   == bool

# type Casting

There may be times when you want to specify a type on to a variable. This can be done with casting. 

- int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
- float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
- str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

Integer:

In [21]:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [23]:
print(x, y, z)

s1 2 3.0

Float:

In [25]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [26]:
print(x, y, z, w)

1.0 2.8 3.0 4.2

String:

In [27]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [28]:
print(x, y, z)

s1 2 3.0